.main-container {
  width: 100%;
}
.users-list .user-info .user-image{
  max-width: 80px;
}

.user-list .user-info .user-image {
  max-width: 160px;
}

@media (min-width: 991px) {
  .main-container {
      width: 50%;
    }
}

body{
  background-color: #EFEFEF;
}

